/* HOME PAGE (index.html) */

.container {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}

.bloc__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    @include breakpoint("large") {
        display: flex;
        flex-direction: row;
    }
    @include breakpoint("medium") {
        display: flex;
        flex-direction: row;
        width: 96%;
        margin: 10% 2% 10% 2%;
    }
    @include breakpoint("small") {
        display: flex;
        flex-direction: column;
        width: 96%;
        margin: 10% 2% 10% 2%;
    }
}

section {
    width: 40%;
    text-align: center;
}

.menu__subtitle {
    font-size: 2rem;
    @include breakpoint(medium) {
        font-size: 2.5rem;
    }
    &--resto1 {
        color: $color-text-resto1;
    }
    &--resto2 {
        color: $color-text-resto2;
    }
    &--resto3 {
        color: $color-text-resto3;
    }
    &--resto4 {
        color: $color-text-resto4;
    }
}
